<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
        <!--Full format: dd/MM/yyyy HH:mm:sss-->
		<add key="FormatDateTime" value="dd/MM/yyyy" />
    </appSettings>
</configuration>